
{% extends "base.html" %}
      
{% block content %}
<div class="dashboard student-dashboard">
    <div class="welcome-section">
        <h2>Добро пожаловать, {{ current_user.username.split()[0] }}!</h2>
        <p>Группа {{ current_user.group }}</p>
    </div>

    <div class="schedule-section">
        <h3>Ближайшие занятия на сегодня (<span id="current-date">чт, 30.10</span>):</h3>
        <div class="classes-container">
            {% for item in lectures %}  
        <div class="class-card">
            <h4>{{ item.subject }}</h4>
         <div class="class-time">
              <span class="time-slot">{{ item.start_time.strftime('%H:%M') }}–{{ item.end_time.strftime('%H:%M') }}</span>
              <span class="group-name">{{ item.group_name }}</span>
              <a href="{{ url_for('qr_fullscreen', item_id=item.id) }}" class="mark-btn">
            Отметиться
              </a>
         </div>
        </div>
{% endfor %}
        </div>
    </div>
</div>

<script>
function updateCurrentDate() {
    const now = new Date();
    const days = ['вс', 'пн', 'вт', 'ср', 'чт', 'пт', 'сб'];
    const months = ['янв', 'фев', 'мар', 'апр', 'май', 'июн', 'июл', 'авг', 'сен', 'окт', 'ноя', 'дек'];
    const dateString = `${days[now.getDay()]}, ${now.getDate()}.${months[now.getMonth()]}`;
    document.getElementById('current-date').textContent = dateString;
}
updateCurrentDate();
</script>
{% endblock %}